<div class="row">
  <div class="page-header">
    <h1><i class="fa fa-pencil" aria-hidden="true"></i> {{ 'Edit events type' | translate }}</h1>
  </div>
</div>

<div class="row" ng-show="$ctrl.message !== ''">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">{{ $ctrl.message }}</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert"><b>{{ 'Attention' | translate }}</b>, {{ 'the changes made here may cause the server to fail. Be certain of the actions you will take' | translate }}.</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.add()"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Add an event type' | translate }}</button>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>{{ 'Number' | translate }}</th>
          <th>{{ 'Name' | translate }}</th>
          <th>{{ 'OEE type' | translate }}</th>
          <th>{{ 'Icon and color' | translate }}</th>
          <th>{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="e in $ctrl.events">
          <td>{{ e._id }}</td>
          <td>{{ e.name | translate }} <small>({{ e.name }})</small></td>
          <td>{{ e.oeeId }}</td>
          <td><span class="label label-{{ e.color }}"><i class="fa {{ e.icon }}" aria-hidden="false"></i></span></td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-info btn-xs" ng-click="$ctrl.edit(e)" title="{{ 'Edit' | translate }}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button class="btn btn-danger btn-xs" ng-click="$ctrl.remove(e._id)" title="{{ 'Delete' | translate }}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>





<!-- Modal Edit -->
<div class="modal" id="itemEditModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">
          {{ $ctrl.title || $ctrl.translate.instant('Add/Edit') }} {{ 'an event type' | translate }}
        </h3>
      </div>
      <div class="modal-body">
        <div class="row" ng-show="$ctrl.error !== ''">
          <div class="col-md-12">
            <div class="alert alert-danger" role="alert">{{ $ctrl.error | translate }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="id">{{ 'Number' | translate }}</label>
          <input type="number" class="form-control" aria-describedby="helpBlock" id="id" min="0" data-ng-model="$ctrl.eventToEdit._id" data-ng-value="$ctrl.eventToEdit._id" integer />
          <span id="helpBlock" class="help-block">{{ 'Do not modify this field if you do not understand its purpose.' | translate }}</span>
        </div>
        <div class="form-group">
          <label for="name">{{ 'Name' | translate }}</label>
          <input type="text" class="form-control" id="good" data-ng-model="$ctrl.eventToEdit.name" data-ng-value="$ctrl.eventToEdit.name" />
        </div>
        <div class="form-group">
          <label for="oeeId">{{ 'OEE type' | translate }}</label>
          <select id="oeeId" class="form-control input-sm" ng-model="$ctrl.eventToEdit.oeeId" required="required">
            <option ng-selected="$ctrl.eventToEdit.oeeId === 1" value="1">{{ 'Planned stop' | translate }} (1)</option>
            <option ng-selected="$ctrl.eventToEdit.oeeId === 2" value="2">{{ 'Unexpected stop' | translate }} (2)</option>
            <option ng-selected="$ctrl.eventToEdit.oeeId === 4" value="4">{{ 'Non-production period' | translate }} (4)</option>
            <option ng-selected="$ctrl.eventToEdit.oeeId === 10" value="10">{{ 'Producing' | translate }} (10)</option>
          </select>
        </div>
        <div class="form-group">
          <label for="icon">{{ 'Icon' | translate }}</label>
          <i id="icon" class="fa {{ $ctrl.eventToEdit.icon }}" aria-hidden="false"></i>
          <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.openIcons($ctrl.eventToEdit.icon)">{{ 'Choose an icon' | translate }}</button>
        </div>
        <div class="form-group">
          <label for="color">{{ 'Color' | translate }} <span class="label label-{{ $ctrl.eventToEdit.color }}">{{ $ctrl.eventToEdit.color }}</span></label>
          <select id="color" class="form-control input-sm" ng-model="$ctrl.eventToEdit.color" placeholder="Couleur" required="required">
            <option value="default" ng-selected="$ctrl.eventToEdit.color === 'default'"><p class="text-default">Default</p></option>
            <option value="primary" ng-selected="$ctrl.eventToEdit.color === 'primary'"><p class="text-primary">Primary</p></option>
            <option value="success" ng-selected="$ctrl.eventToEdit.color === 'success'"><p class="text-success">Success</p></option>
            <option value="info" ng-selected="$ctrl.eventToEdit.color === 'info'"><p class="text-info">Info</p></option>
            <option value="warning" ng-selected="$ctrl.eventToEdit.color === 'warning'"><p class="text-warning">Warning</p></option>
            <option value="danger" ng-selected="$ctrl.eventToEdit.color === 'danger'"><p class="text-danger">Danger</p></option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.save()">{{ 'Apply' | translate }}</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Icons -->
<div class="modal" id="itemIcons" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">
          {{ 'Choose an icon' | translate }} : <i class="selected-icon fa {{ $ctrl.tempIcon }} {{ $ctrl.iconParam }}" aria-hidden="false"></i>
        </h3>
      </div>
      <div class="modal-body">
        <div class="row" ng-show="$ctrl.error !== ''">
          <div class="col-md-12">
            <div class="alert alert-danger" role="alert">{{ $ctrl.error | translate }}</div>
          </div>
        </div>

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.iconParam = 'fa-spin'">{{ 'Rotation' | translate }}</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.iconParam = 'fa-pulse'">{{ 'Pulse' | translate }}</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.iconParam = 'fa-rotate-90'">90°</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.iconParam = 'fa-rotate-180'">180°</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.iconParam = 'fa-rotate-270'">270°</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.iconParam =''">{{ 'Nothing' | translate }}</button>
          </div>
        </div>

        <ul id="list-icons">
          <li ng-repeat="i in $ctrl.icons" ng-click="$ctrl.changeIcon(i)"><i class=" fa {{i}} fa-fw" aria-hidden="false"></i></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.validateIcon()">{{ 'Apply' | translate }}</button>
      </div>
    </div>
  </div>
</div>
