<div class="row">
  <div class="page-header">
    <h1>{{ 'Unauthorized access' | translate }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">{{ 'You do not have access to this resource.' | translate }}</div>
</div>
