<div class="row">
  <div class="page-header">
    <h1><i class="fa fa-user" aria-hidden="true"></i> {{ $ctrl.userId ? $ctrl.translate.instant('Edit') : $ctrl.translate.instant('New') }} {{ 'profile' | translate }}<small ng-show="$ctrl.userId"> {{ $ctrl.user.username}}</small></h1>
  </div>
</div>

<div class="row" ng-show="$ctrl.message !== ''">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">{{ $ctrl.message | translate }}</div>
  </div>
</div>

<div class="row" ng-show="$ctrl.error !== ''">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">{{ $ctrl.error | translate }}</div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group" ng-if="$ctrl.currentUser.profile.admin">
        <label for="1">{{ 'Username' | translate}}</label>
        <input class="form-control" id="1" placeholder="{{ 'Username' | translate}}" ng-model="$ctrl.user.username" required="required" type="text">
      </div>
      <div class="form-group">
        <label for="2">{{ 'Password' | translate }}</label>
        <input class="form-control" id="2" ng-model="$ctrl.password" type="password" ng-required="!$ctrl.userId || !$ctrl.currentUser.profile.admin">
        <span id="2" class="help-block" ng-show="$ctrl.userId">{{ 'Leave blank to avoid changing the password.' | translate }}</span>
      </div>
      <div class="form-group">
        <label for="locale">{{ 'Language' | translate }}</label>
        <select id="locale" class="form-control input-sm" ng-model="$ctrl.user.profile.locale" placeholder="{{ 'Language' | translate }}" required="required">
          <option value="en" ng-selected="$ctrl.user.profile.locale === 'en'">English</option>
          <option value="fr" ng-selected="$ctrl.user.profile.locale === 'fr'">Français</option>
          <option value="de" ng-selected="$ctrl.user.profile.locale === 'de'">Deutsch</option>
        </select>
      </div>
      <div class="form-group" ng-if="$ctrl.currentUser.profile.admin && !$ctrl.user.profile.admin">
        <label for="workshops">{{ 'Workshops' | translate }}</label>
        <tags-input id="workshops" class="bootstrap" placeholder="{{ 'Add a workshop' | translate }}" ng-model="$ctrl.user.profile.workshops"></tags-input>
      </div>
      <div class="checkbox" ng-if="$ctrl.currentUser.profile.admin">
        <label>
          <input type="checkbox" ng-model="$ctrl.user.profile.admin"> {{ 'Administrator' | translate }}
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-sm" ng-click="$ctrl.save()">{{ 'Save' | translate }}</button>
    </form>
  </div>
</div>
