<div class="row">
  <div class="page-header">
    <h1><i class="fa fa-users" aria-hidden="true"></i> {{ 'Users' | translate }}</h1>
  </div>
</div>

<div class="row" ng-show="$ctrl.message !== ''">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">{{ $ctrl.message | translate }}</div>
  </div>
</div>

<div class="row" ng-show="$ctrl.error !== ''">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">{{ $ctrl.error |translate }}</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-default btn-sm" ui-sref="users.edit" ui-sref-active="active"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Add an user' | translate }}</button>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>{{ 'Username' | translate }}</th>
          <th>{{ 'Administrator' | translate }}</th>
          <th>{{ 'Language' | translate }}</th>
          <th>{{ 'Workshops' | translate }}</th>
          <th>{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="u in $ctrl.users">
          <td>{{ u.username }}</td>
          <td><i class="fa fa-{{ u.profile.admin ? 'check-' : '' }}square-o" aria-hidden="false"></i></td>
          <td>{{ u.profile.locale || '' }}</td>
          <td><span ng-repeat="w in u.profile.workshops" class="label label-primary">{{ w }}</span></td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-info btn-xs" ui-sref="users.edit({userId: u._id})" ui-sref-active="active" title="{{ 'Edit' | translate }}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button class="btn btn-danger btn-xs" ng-click="$ctrl.remove(u._id)" title="{{ 'Delete' | translate }}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
