<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><img src="logo.png" /></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <!-- List of equipments -->
        <li><a ui-sref="equipments.list" ui-sref-active="active"><i class="fa fa-industry" aria-hidden="true"></i>  {{ 'Overview' | translate }}</a></li>

        <!-- View of one equipment -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cube" aria-hidden="true"></i>  {{ 'Equipments' | translate }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="equipment in $ctrl.equipments | limitTo: 10"><a ui-sref="equipments.view({equipmentId: equipment._id})" ui-sref-active="active"><i class="fa {{ equipment.state.icon }}" ng-show="equipment.active" aria-hidden="true"></i> {{ equipment.name }}</a></li>
          </ul>
        </li>

        <!-- Analyze -->
        <li ng-show="$ctrl.currentUser"><a ui-sref="equipments.analyze" ui-sref-active="active"><i class="fa fa-pie-chart" aria-hidden="true"></i>  {{ 'Analyze' | translate }}</a></li>

        <!-- Tools -->
        <li  ng-show="$ctrl.currentUser" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-database" aria-hidden="true"></i>  {{ 'Tools' | translate }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-show="$ctrl.currentUser.profile.admin"><a ui-sref="equipments.edit({equipmentId: undefined})" ui-sref-active="active"><i class="fa fa-cube" aria-hidden="true"></i> {{ 'New equipment' | translate }}</a></li>
            <li ng-show="$ctrl.currentUser.profile.admin"><a ui-sref="eventsType.edit" ui-sref-active="active"><i class="fa fa-pencil" aria-hidden="true"></i> {{ 'Edit events type' | translate }}</a></li>
            <li><a ui-sref="exports.list" ui-sref-active="active"><i class="fa fa-file-text" aria-hidden="true"></i> {{ 'Export events' | translate }}</a></li>
            <li ng-show="$ctrl.currentUser.profile.admin"><a ui-sref="exports.log" ui-sref-active="active"><i class="fa fa-bug" aria-hidden="true"></i> Log</a></li>
          </ul>
        </li>

      </ul>


      <ul class="nav navbar-nav navbar-right">
        <!-- language -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i> {{ $ctrl.getLang() }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="$ctrl.setLang('en')">English</a></li>
            <li><a ng-click="$ctrl.setLang('fr')">Français</a></li>
            <li><a ng-click="$ctrl.setLang('de')">Deutsch</a></li>
          </ul>
        </li>

        <!-- User not connected -->
        <li ng-show="! $ctrl.currentUser"><button type="button" class="btn btn-default navbar-btn" ng-click="$ctrl.openModal()"><i class="fa fa-user" aria-hidden="true"></i> {{ 'Login' | translate }}</button></li>

        <!-- User connected -->
        <li class="dropdown" ng-show="$ctrl.currentUser">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role='button' aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o" aria-hidden="true"></i> {{ $ctrl.currentUser.username || $ctrl.translate.instant('Profile') }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="users.edit({userId: $ctrl.currentUser._id})" ui-sref-active="active">{{ 'Edit my profile' | translate }}</a></li>
            <li ng-show="$ctrl.currentUser.profile.admin"><a ui-sref="users.list" ui-sref-active="active">{{ 'Profiles' | translate }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="$ctrl.logout()">{{ 'Logout' | translate }}</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>



<div id="connectionModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-submit="$ctrl.connection($ctrl.username, $ctrl.password)">
        <div class="modal-header"><h4 class="modal-title">{{ 'Login' | translate }}</h4></div>
        <div class="body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div ng-show="$ctrl.displayErrorMessage" class="alert alert-danger" role="alert">{{ $ctrl.errorMessage | translate }}</div>

              <div class="form-group">
                <label for="exampleInputUsername">{{ 'Username' | translate }}</label>
                <input size="20" ng-model="$ctrl.username" type="text" class="form-control" id="exampleInputUsername" placeholder="{{ 'Username' | translate }}">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">{{ 'Password' | translate }}</label>
                <input size="20" ng-model="$ctrl.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="{{ 'Password' | translate }}">
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">{{ 'Login' | translate }}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
