<div class="row">
  <div class="page-header">
    <h1><i class="fa fa-file-text" aria-hidden="true"></i> {{ 'Exports' | translate }}</h1>
  </div>
</div>

<div class="row" ng-show="$ctrl.message !== ''">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">{{ $ctrl.message | translate }}</div>
  </div>
</div>

<div class="row" ng-show="$ctrl.error !== ''">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">{{ $ctrl.error | translate }}</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></div>
      <input type="text" class="form-control" placeholder="{{ 'Filter' | translate }}" ng-model="search" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>{{ 'Files' | translate }}</th>
          <th>{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="f in $ctrl.files | filter:search">
          <td>{{ f }}</td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-info btn-xs" ng-click="$ctrl.download(f)" title="{{ 'Download' | translate }}"><i class="fa fa-download" aria-hidden="true"></i></button>
              <button ng-if="$ctrl.currentUser.profile.admin" class="btn btn-danger btn-xs" ng-click="$ctrl.remove(f)" title="{{ 'Delete' | translate }}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
