<div class="row">
  <div class="page-header">
    <h1><i class="fa fa-bug" aria-hidden="true"></i> Logs</h1>
  </div>
</div>

<div class="row" ng-show="$ctrl.password">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      {{ 'Password' | translate }} (admin) : <b>{{ $ctrl.password }}</b>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <pre>{{ $ctrl.log }}</pre>
  </div>
</div>
