<div class="row">
  <div class="page-header">
    <h1><i class="fa fa-pie-chart" aria-hidden="true"></i>{{ 'Analyze' | translate }}</h1>
  </div>
</div>



<!-- Grouping -->
<div class="col-md-12">
  <nav class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" toggle="collapse" target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <a class="navbar-text" ng-click="$ctrl.period()"><i class="fa fa-filter fa-lg" aria-hidden="true"></i>
        <b>{{ $ctrl.startQuery.curValue | amDateFormat:'DD/MM/YYYY' }}</b> {{ 'to' | translate }} <b>{{  $ctrl.endQuery.curValue | amDateFormat:'DD/MM/YYYY' }}</b>
      </a>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <label for="chngroup">{{ 'Group by' | translate }} </label>
          <select id="chngroup" class="form-control">
            <option value="_id.po">{{ 'PO' | translate }}</option>
            <option value="_id.article">{{ 'Article' | translate }}</option>
            <option value="equipment.name" selected="selected">{{ 'Equipment' | translate }}</option>
            <option value="_id.oeeId">{{ 'OEE type' | translate }}</option>
            <option value="_id.information">{{ 'Information' | translate }}</option>
            <option value="clear">{{ 'Delete group' | translate }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="chngroup2">{{ 'Subgroup by' | translate }} </label>
          <select id="chngroup2" class="form-control">
            <option value="_id.po" selected="selected">{{ 'PO' | translate }}</option>
            <option value="_id.article">{{ 'Article' | translate }}</option>
            <option value="equipment.name">{{ 'Equipment' | translate }}</option>
            <option value="_id.oeeId">{{ 'OEE type' | translate }}</option>
            <option value="_id.information">{{ 'Information' | translate }}</option>
            <option value="clear">{{ 'Delete group' | translate }}</option>
          </select>
        </div>
      </form>

      <ul class="nav navbar-nav">
        <li><button type="button" class="btn btn-default navbar-btn pull-right" ng-click="$ctrl.exportToCsv()"><i class="fa fa-download"></i> {{ 'Export' | translate }}</button></li>
      </ul>
    </div>
  </nav>
</div>


<!-- Table -->
<div class="row">
  <div class="col-md-12">
    <table id="grid"></table>
    <div id="pager"></div>
  </div>
</div>


<!-- MODALS -->
<!-- Modal period -->
<div class="modal fade" id="rangeChoice" tabindex="-1" role="dialog" aria-labelledby="rangeChoiceLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="rangeChoiceLabel">
          {{ 'Period' | translate }} <small>{{ 'from' | translate}} <b>{{ $ctrl.startQuery.curValue | amDateFormat:'DD/MM/YYYY' }}</b> {{ 'to' | translate }} <b>{{
            $ctrl.endQuery.curValue | amDateFormat:'DD/MM/YYYY' }}</b></small>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h4>{{ 'Start date' | translate }}</h4>
              <span class="label label-default">{{ 'Choice' | translate }} : {{ $ctrl.otherPeriodStart | amDateFormat:'DD/MM/YYYY' }}</span>
              <datetimepicker ng-model="$ctrl.otherPeriodStart" datetimepicker-config="{ minView: 'day' }"></datetimepicker>
            </div>
            <div class="col-md-6">
              <h4>{{ 'End date' | translate }}</h4>
              <span class="label label-default">{{ 'Choice' | translate }} : {{ $ctrl.otherPeriodEnd | amDateFormat:'DD/MM/YYYY' }}</span>
              <datetimepicker ng-model="$ctrl.otherPeriodEnd" datetimepicker-config="{ minView: 'day' }"></datetimepicker>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.validatePeriod()">{{ 'Apply' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
