<div class="row">
  <div class="page-header">
    <h1><i class="fa fa-{{ $ctrl.equipmentId === '' ? 'plus' : 'pencil' }}" aria-hidden="true"></i> {{ $ctrl.equipmentId === '' ? $ctrl.translate.instant('New') : $ctrl.translate.instant('Edit') }} <small> {{ $ctrl.e.name }}</small></h1>
  </div>
</div>

<div class="row" ng-show="$ctrl.error !== ''">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">{{ $ctrl.error | translate }}</div>
  </div>
</div>

<div class="row" ng-show="$ctrl.message !== ''">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">{{ $ctrl.message | translate }}</div>
  </div>
</div>


<div class="row">
  <div class="col-md-11">
    <div class="btn-group" role="group">
      <button class="btn btn-success btn-sm" ng-click="$ctrl.saveEquipment($ctrl.e)" ng-disabled="formEqptHome.$invalid || formEqptConnection.$invalid || formEqptSettings.$invalid || formEqptInversion.$invalid || formEqptTimers.$invalid">{{ 'Save' | translate }}</button>
      <button ng-if="$ctrl.equipmentId" type="button" class="btn btn-default btn-sm" ng-click="$ctrl.modalTransfer()" ng-disabled="$ctrl.e.settings.send"><i ng-show="$ctrl.e.settings.send" class="fa fa-spinner fa-pulse" aria-hidden="true"></i> {{ ($ctrl.e.settings.send) ? $ctrl.translate.instant('Scheduled transfer') : $ctrl.translate.instant('Send settings') }}</button>
      <button ng-if="$ctrl.e.settings.send" type="button" class="btn btn-warning btn-sm" ng-click="$ctrl.cancelTransfer()">{{ 'Cancel' | translate }}</button>
      <button type="button" class="btn btn-info btn-sm" ng-click="$ctrl.exportToCsv()">{{ 'Export all events' | translate }}</button>
    </div>
  </div>
  <div class="col-md-1">
    <button ng-show="$ctrl.equipmentId" type="submit" class="btn btn-danger btn-sm" ng-click="$ctrl.modalDelete()">{{ 'Delete' | translate }}</button>
  </div>
</div>


<div class="row top-buffer">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ 'General' | translate }}</a></li>
    <li role="presentation"><a href="#connection" aria-controls="connection" role="tab" data-toggle="tab">{{ 'Connection' | translate }}</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{ 'Global settings' | translate }}</a></li>
    <li role="presentation"><a href="#settings-inversion" aria-controls="settings-inversion" role="tab" data-toggle="tab">{{ 'Inputs-outputs' | translate }}</a></li>
    <li role="presentation"><a href="#settings-timers" aria-controls="settings-timers" role="tab" data-toggle="tab">{{ 'Timers' | translate }}</a></li>
    <li role="presentation" ng-show="$ctrl.equipmentId"><a href="#informtions" aria-controls="informtions" role="tab" data-toggle="tab">{{ 'Information' | translate}}</a></li>
  </ul>



  <div class="tab-content">
    <!-- TAB : GENERAL -->
    <div role="tabpanel" class="tab-pane row fade in active" id="home">
      <form name="formEqptHome">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group" ng-class="{ 'has-error': formEqptHome.name.$invalid, 'has-success': formEqptHome.name.$valid }">
              <label for="name">{{ 'Name' | translate }}</label>
              <input class="form-control" name="name" placeholder="{{ 'Name' | translate }}" ng-model="$ctrl.e.name" max="200" required type="text">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptHome.number.$invalid, 'has-success': formEqptHome.number.$valid }">
              <label for="number">{{ 'Number' | translate }}</label>
              <input class="form-control" name="number" placeholder="{{ 'Number' | translate }}" ng-model="$ctrl.e.number" min="0" type="number">
            </div>
            <div class="form-group">
              <label for="workshops">{{ 'Workshops' | translate }}</label>
              <tags-input id="workshops" class="bootstrap" placeholder="{{ 'Add a workshop' | translate }}" ng-model="$ctrl.e.workshops"></tags-input>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.active"> {{ 'Actived' | translate }}
              </label>
            </div>
          </div>
          <div class="col-md-offset-2 col-md-5">
            <div class="form-group" ng-class="{ 'has-error': formEqptHome.parts.$invalid, 'has-success': formEqptHome.parts.$valid }">
              <label for="parts">{{ 'Name of parts' | translate }}</label>
              <input class="form-control" name="parts" placeholder="{{ 'Name of parts' | translate }}" ng-model="$ctrl.e.part" required
              type="text">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptHome.rate.$invalid, 'has-success': formEqptHome.rate.$valid }">
              <label for="rate">{{ 'Theoretical rate (parts/hour)' | translate }}</label>
              <input class="form-control" name="rate" placeholder="{{ 'Theoretical rate (parts/hour)' | translate }}" ng-model="$ctrl.e.rate"
              min="0" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptHome.cron.$invalid, 'has-success': formEqptHome.cron.$valid }">
              <label for="cron">{{ 'Interrogaton interval (seconds)' | translate }}</label>
              <input form="formEqpt" class="form-control" name="cron" placeholder="{{ 'Interrogaton interval (seconds)' | translate }}" ng-model="$ctrl.e.cron"
              min="2" required type="number">
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- TAB : CONNECTION -->
    <div role="tabpanel" class="tab-pane fade" id="connection">
      <form name="formEqptConnection">
        <div class="row">
          <div class="col-md-5">
            <h4>{{ 'Network' | translate }}</h4>
            <div class="form-group" ng-class="{ 'has-error': formEqptConnection.ip.$invalid, 'has-success': formEqptConnection.ip.$valid }">
              <label for="ip">{{ 'IP address' | translate }}</label>
              <input class="form-control" name="ip" placeholder="{{ 'IP address' | translate }}" ng-pattern="/^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/" ng-model="$ctrl.e.connection.ip" required type="text">
            </div>

            <div class="form-group" ng-class="{ 'has-error': formEqptConnection.port.$invalid, 'has-success': formEqptConnection.port.$valid }">
              <label for="port">{{ 'Port' | translate }}</label>
              <input class="form-control" name="port" placeholder="{{ 'Port' | translate }}" ng-model="$ctrl.e.connection.port" min="0" step="1" required type="number">
            </div>
          </div>
          <div class="col-md-offset-2 col-md-5">
            <h4>Modbus TCP-IP</h4>
            <div class="form-group" ng-class="{ 'has-error': formEqptConnection.id.$invalid, 'has-success': formEqptConnection.id.$valid }">
              <label for="id">Modbus ID</label>
              <input class="form-control" name="id" placeholder="Modbus ID" ng-model="$ctrl.e.connection.id" min="0" max="255" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptConnection.offset.$invalid, 'has-success': formEqptConnection.offset.$valid }">
              <label for="offset">{{ 'First memory address' | translate }}</label>
              <input class="form-control" name="offset" placeholder="{{ 'First memory address' | translate }}" ng-model="$ctrl.e.connection.offset" min="0" step="1" required type="number">
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- TAB : SETTINGS -->
    <div role="tabpanel" class="tab-pane fade" id="settings">
      <form name="formEqptSettings">
        <div class="row">
          <div class="col-md-5">
            <h4>{{ 'Settings' | translate }}</h4>
            <div class="form-group" ng-class="{ 'has-error': formEqptSettings.runningMode.$invalid, 'has-success': formEqptSettings.runningMode.$valid }">
              <label for="runningMode">{{ 'Run information' | translate }}</label>
              <select class="form-control" name="runningMode" placeholder="{{ 'Run information' | translate }}" ng-model="$ctrl.e.settings.runningMode" required>
                <option value="0" ng-selected="$ctrl.e.settings.runningMode === 0">{{ 'Running input' | translate }}</option>
                <option value="1" ng-selected="$ctrl.e.settings.runningMode === 1">{{ 'Top cycle input' | translate }}</option>
                <option value="2" ng-selected="$ctrl.e.settings.runningMode === 2">{{ 'Running input, stop input' | translate }}</option>
              </select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptSettings.countingMode.$invalid, 'has-success': formEqptSettings.countingMode.$valid }">
              <label for="countingMode">{{ 'Counting information' | translate }}</label>
              <select class="form-control" name="countingMode" placeholder="{{ 'Counting information' | translate }}" ng-model="$ctrl.e.settings.countingMode" required>
                <option value="0" ng-selected="$ctrl.e.settings.countingMode === 0">{{ 'Input good part and input bad part' | translate }}</option>
                <option value="1" ng-selected="$ctrl.e.settings.countingMode === 1">{{ 'Input part and input good or bad part' | translate }}</option>
                <option value="2" ng-selected="$ctrl.e.settings.countingMode === 2">{{ 'Fixed rate' | translate }}</option>
              </select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptSettings.goodPartFactor.$invalid, 'has-success': formEqptSettings.goodPartFactor.$valid }">
              <label for="goodPartFactor">{{ 'Good parts factor' | translate }}</label>
              <input class="form-control" name="goodPartFactor" placeholder="{{ 'Good parts factor' | translate }}" ng-model="$ctrl.e.settings.goodPartFactor" min="0" max="255" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptSettings.badPartFactor.$invalid, 'has-success': formEqptSettings.badPartFactor.$valid }">
              <label for="badPartFactor">{{ 'Bad parts factor' | translate }}</label>
              <input class="form-control" name="badPartFactor" placeholder="{{ 'Bad parts factor' | translate }}" ng-model="$ctrl.e.settings.badPartFactor" min="0" max="255" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptSettings.partsRateCalculation.$invalid, 'has-success': formEqptSettings.partsRateCalculation.$valid }">
              <label for="partsRateCalculation">{{ 'Quantity parts for rate calculation' | translate }}</label>
              <input class="form-control" name="partsRateCalculation" placeholder="{{ 'Quantity parts for rate calculation' | translate }}" ng-model="$ctrl.e.settings.partsRateCalculation" min="0" max="255" step="1" required type="number">
            </div>
          </div>
          <div class="col-md-offset-2 col-md-5">
            <h4>{{ 'Display' | translate }}</h4>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.displayCountdown"> {{ 'Display countdown' | translate }}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.displayBadParts"> {{ 'Display bad parts' | translate }}
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- TAB : I/O INVERSION -->
    <div role="tabpanel" class="tab-pane fade" id="settings-inversion">
      <form name="formEqptInversion">
        <div class="row">
          <div class="col-md-5">
            <h4>{{ 'I/O inversion' | translate }}</h4>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.goodInput"> {{ 'Input parts (good)' | translate }} (I0)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.badInput"> {{ 'Input bad parts' | translate }} (I1)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.runningInput"> {{ 'Input running' | translate }} (I3)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.stoppedInput"> {{ 'Input stopped' | translate }} (I4)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.manualInput"> {{ 'Input manual' | translate}} (I5)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.faultInput"> {{ 'Input fault' | translate }} (I6)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.information1Input"> {{ 'Input information' | translate }} 1 (I7)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.information2Input"> {{ 'Input information' | translate }} 2 (I8)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.information3Input"> {{ 'Input information' | translate }} 3 (I9)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.information4Input"> {{ 'Input information' | translate }} 4 (I10)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="$ctrl.e.settings.inversion.countdownOutput"> {{ 'Output countdown' | translate }} (O0)
              </label>
            </div>
          </div>

          <div class="col-md-offset-2 col-md-5">
            <h4>{{ 'I/O priorities' | translate }}</h4>
            <div class="form-group" ng-class="{ 'has-error': formEqptInversion.run.$invalid, 'has-success': formEqptInversion.run.$valid }">
              <label for="run">{{ 'Running information priority' | translate }}</label>
              <input class="form-control" name="run" placeholder="{{ 'Running information priority' | translate }}" ng-model="$ctrl.e.settings.priorities.run" min="0" max="3" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptInversion.stop.$invalid, 'has-success': formEqptInversion.stop.$valid }">
              <label for="stop">{{ 'Stopped information priority' | translate }}</label>
              <input class="form-control" name="stop" placeholder="{{ 'Stopped information priority' | translate }}" ng-model="$ctrl.e.settings.priorities.stop" min="0" max="3" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptInversion.manual.$invalid, 'has-success': formEqptInversion.manual.$valid }">
              <label for="manual">{{ 'Manual information priority' | translate }}</label>
              <input class="form-control" name="manual" placeholder="{{ 'Manual information priority' | translate }}" ng-model="$ctrl.e.settings.priorities.manual" min="0" max="3" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptInversion.fault.$invalid, 'has-success': formEqptInversion.fault.$valid }">
              <label for="fault">{{ 'Fault information priority' | translate }}</label>
              <input class="form-control" name="fault" placeholder="{{ 'Fault information priority' | translate }}" ng-model="$ctrl.e.settings.priorities.fault" min="0" max="3" step="1" required type="number">
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- TAB : TIMERS -->
    <div role="tabpanel" class="tab-pane fade" id="settings-timers">
      <form name="formEqptTimers">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group" ng-class="{ 'has-error': formEqptTimers.beforeRunning.$invalid, 'has-success': formEqptTimers.beforeRunning.$valid }">
              <label for="beforeRunning">{{ 'Timer before running' | translate }} (x1s)</label>
              <input class="form-control" name="beforeRunning" placeholder="{{ 'Timer before running' | translate }} (x1s)" ng-model="$ctrl.e.settings.timers.beforeRunning" min="0" max="255" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptTimers.beforeStopped.$invalid, 'has-success': formEqptTimers.beforeStopped.$valid }">
              <label for="beforeStopped">{{ 'Timer before stopped' | translate }} (x1s)</label>
              <input class="form-control" name="beforeStopped" placeholder="{{ 'Timer before stopped' | translate }} (x1s)" ng-model="$ctrl.e.settings.timers.beforeStopped" min="0" max="255" step="1" required type="number">
            </div>
          </div>
          <div class="col-md-offset-2 col-md-5">
            <div class="form-group" ng-class="{ 'has-error': formEqptTimers.beforeManual.$invalid, 'has-success': formEqptTimers.beforeManual.$valid }">
              <label for="beforeManual">{{ 'Timer before manual' | translate }} (x1s)</label>
              <input class="form-control" name="beforeManual" placeholder="{{ 'Timer before manual' | translate }} (x1s)" ng-model="$ctrl.e.settings.timers.beforeManual" min="0" max="255" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptTimers.beforeFault.$invalid, 'has-success': formEqptTimers.beforeFault.$valid }">
              <label for="beforeFault">{{ 'Timer before fault' | translate }} (x1s)</label>
              <input class="form-control" name="beforeFault" placeholder="{{ 'Timer before fault' | translate }} (x1s)" ng-model="$ctrl.e.settings.timers.beforeFault" min="0" max="255" step="1" required type="number">
            </div>
            <div class="form-group" ng-class="{ 'has-error': formEqptTimers.topCycle.$invalid, 'has-success': formEqptTimers.topCycle.$valid }" ng-show="$ctrl.e.settings.runningMode === 1">
              <label for="topCycle">{{ 'Top cycle timer, between two parts' | translate }} (x1s)</label>
              <input class="form-control" name="topCycle" placeholder="{{ 'Top cycle timer, between two parts' | translate }} (x1s)" ng-model="$ctrl.e.settings.timers.topCycle" min="0" max="255" step="1" required type="number">
            </div>
          </div>
        </div>
      </form>
    </div>


    <!-- TAB : INFORMATIONS -->
    <div role="tabpanel" class="tab-pane fade" id="informtions">
      <form name="formInfo">
        <h4>{{ 'Add' | translate }}</h4>
        <div class="form-group" ng-class="{ 'has-error': formInfo.infoId.$invalid, 'has-success': formInfo.infoId.$valid }">
          <label for="infoId">{{ 'Number' | translate }}</label>
          <input class="form-control input-sm" name="infoId" ng-model="$ctrl.newInformation.id" placeholder="{{ 'Number' | translate }}" min="0" max="15" type="number" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': formInfo.infoName.$invalid, 'has-success': formInfo.infoName.$valid }">
          <label for="infoName">{{ 'Name' | translate }}</label>
          <input class="form-control input-sm" name="infoName" ng-model="$ctrl.newInformation.name" placeholder="{{ 'Name' | translate }}" type="text" required />
        </div>
        <div ng-class="{ 'has-error': formInfo.activeOee.$invalid, 'has-success': formInfo.activeOee.$valid }">
          <label for="activeOee">{{ 'Change OEE type' | translate }}</label>
          <input name="activeOee" type="checkbox" ng-model="$ctrl.newInformation.activeOee">
        </div>
        <div class="form-group" ng-class="{ 'has-error': formInfo.infoOee.$invalid, 'has-success': formInfo.infoOee.$valid }" ng-show="$ctrl.newInformation.activeOee">
          <label for="infoOee">{{ 'OEE type' | translate }}</label>
          <select fname="infoOee" class="form-control input-sm" ng-model="$ctrl.newInformation.oeeId" placeholder="{{ 'OEE type' | translate }}" ng-required="$ctrl.newInformation.activeOee">
            <option value="1">{{ 'Planned stop' | translate }} (1)</option>
            <option value="2">{{ 'Unexpected stop' | translate}} (2)</option>
            <option value="4">{{ 'Non-production period' | translate }} (4)</option>
            <option value="10">{{ 'Producing' | translate }} (10)</option>
          </select>
        </div>
      </form>
        <button ng-disabled="formInfo.$invalid" class="btn btn-success" ng-click="$ctrl.addInformation($ctrl.newInformation)" title="{{ 'Add' | translate }}"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Add' | translate }}</button>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ 'Number' | translate }}</th>
              <th>{{ 'Name' | translate }}</th>
              <th>{{ 'Change OEE type' | translate }}</th>
              <th>{{ 'OEE type' | translate }}</th>
              <th>{{ 'Action' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="i in $ctrl.informations.informations | orderBy:'id'">
              <td>{{ i.id }}</td>
              <td>{{ i.name }}</td>
              <td><i class="fa fa-{{ i.activeOee ? 'check-' : '' }}square-o" aria-hidden="false"></i></td>
              <td>{{ i.oeeId || '' }}</td>
              <td><button class="btn btn-danger btn-xs" ng-click="$ctrl.removeInformation(i)" title="{{ 'Delete' | translate}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>


<!-- MODAL : TRANSFER PARAMETERS -->
<div class="modal fade modalTransfer" tabindex="-1" role="dialog" aria-labelledby="modalTransfer" id="modalTransfer">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{ 'Warning' | translate }}</h4>
      </div>
      <div class="modal-body">
        <p><em>{{ 'Are you sure you want to change the settings in the PLC' | translate}} ?</em></p>
        <p></p>
        <p class="text-info">{{ 'You must save the modified parameters before transferring them' | translate}}.</p>
        <p></p>
        <p>{{ 'This may cause the production equipment to shut down' | translate}}.</p>
        <p><u>{{ 'Advice' | translate}} :</u> {{ 'Stop the production equipment before transferring the parameters and restart the PLC after the transfer' | translate}}.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
        <button type="button" class="btn btn-warning" ng-click="$ctrl.transfer()">{{ 'Transfer' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL : DELETE -->
<div class="modal fade modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" id="modalDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{ 'Warning' | translate }}</h4>
      </div>
      <div class="modal-body">
        <p><em>{{ 'Are you sure you want to delete this item' | translate }} ?</em></p>
        <p><span class="label label-default">{{ $ctrl.e.name }} <small>{{ $ctrl.e.number }}</small></span></p>
        <p>{{ 'You can either' | translate }} :</p>
        <ul>
          <li>{{ 'Delete the events of an equipment (making it possible to lighten the database). You can export events before deleting them' | translate }}</li>
          <li>{{ 'Delete a device (this also deletes all its events)' | translate }}</li>
          <ul>
            <p class="text-warning">{{ 'These two actions are final and can not be canceled' | translate }}.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-warning" ng-click="$ctrl.deleteEvents()">{{ 'Delete events' | translate }}</button>
              <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteEquipment()">{{ 'Delete equipment' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
