<div class="page-header">
  <h1>{{ 'Overview' | translate }} <small>({{ filteredEquipments.length }}/{{ $ctrl.equipments.length }})</small></h1>
</div>


<div class="row">
  <div class="col-md-3">
    <h3>{{ 'Workshops filter' | translate }}</h3>
    <tags-input id="workshopsInput" class="bootstrap" placeholder="Ajouter un atelier" ng-model="tags"></tags-input>

    <h3>{{ 'State filter' | translate }}</h3>
    <div id="filterCheckboxes">
      <div class="checkbox" ng-repeat="eventType in $ctrl.eventsType">
        <label>
          <input type="checkbox" name="{{ eventType._id }}" ng-model="checkbox" ng-change="$ctrl.changeFilters(eventType._id)">
          <i class="fa fa-fw {{ eventType.icon }}" aria-hidden="true"></i> {{ eventType.name | translate }}
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-9">

    <!-- Equipments -->
    <div class="grid" ng-repeat="equipment in $ctrl.equipments | filter : { active : true } | eventsTypeFilter: $ctrl.eventTypeFilter | workshopsFilter: tags as filteredEquipments">
      <div class="element-item panel {{ equipment.state.color }} {{ equipment.workshops | workshops:' ' }}" data-event-type-id="{{ equipment.state.eventTypeId }}" data-workshops="{{ equipment.workshops | workshops:' ' }}">
        <p class="name" title="{{ equipment.number }}"><a ui-sref="equipments.view({equipmentId: equipment._id})" ui-sref-active="active"><i ng-show="equipment.state.secondary" class="fa fa-star-half-o" aria-hidden="true"></i> {{ equipment.name }}</a></p>
        <!-- <p class="number">{{ equipment.number }}</p> -->
        <p class="event">{{ equipment.state.name | translate }}</p>
        <p ng-show="equipment.state.po > 0" class="po" data-toggle="tooltip" title="{{ $ctrl.startOfPo(equipment).start | amDifference : null : 'minutes' | amDurationFormat : 'minute' }}"><a ui-sref="equipments.view({ equipmentId: equipment._id, po: equipment.state.po })" ui-sref-active="active">{{ 'PO' | translate }} {{ equipment.state.po }}</a></p>
        <p ng-show="equipment.state.good > 0" class="good"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ equipment.state.good }}</p>
        <p ng-show="equipment.settings.displayBadParts && equipment.state.bad > 0" class="bad"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{ equipment.state.bad }}</p>
        <p ng-show="equipment.settings.displayCountdowmoment" class="countdown">{{ equipment.state.countdown }} {{ equipment.part}} {{ 'remaining' | translate }}</p>
        <p class="icon"><i class="fa {{ equipment.active ? equipment.state.icon : 'fa-ban' }}" aria-hidden="true"></i></p>
        <p class="tooltipText" ng-init="$ctrl.initializeTooltips()">{{ equipment.state.start | amDifference : null : 'minutes' | amDurationFormat : 'minute' | translate }}</p>
      </div>
    </div>

    <div class="grid" ng-repeat="equipment in $ctrl.equipments | filter : { active : false } | eventsTypeFilter: $ctrl.eventTypeFilter | workshopsFilter: tags as filteredEquipments">
      <div class="element-item panel default {{ equipment.workshops | workshops:' ' }}"data-workshops="{{ equipment.workshops | workshops:' ' }}">
        <p class="name" title="{{ equipment.number }}"><a ui-sref="equipments.view({equipmentId: equipment._id})" ui-sref-active="active"> {{ equipment.name }}</a></p>
      </div>
    </div>

  </div>
</div>
