<div class="row">
  <div class="page-header">
    <h1>
      <a href="#" ng-show="$ctrl.equipment.active" ng-click="$ctrl.openModal()"><i class="fa-fw fa {{ $ctrl.equipment.state.icon }} text-{{ $ctrl.equipment.state.color }}" aria-hidden="true"></i></a> {{ $ctrl.equipment.name }}
      <small>{{ $ctrl.equipment.number }} <a ng-if="$ctrl.user.profile.admin" title="{{ 'Edit' | translate }}" ui-sref="equipments.edit({equipmentId: $ctrl.equipmentId})"><i class="fa fa-pencil" aria-hidden="true"></i></a></small>
    </h1>
    <h4>
      <span class="label label-default" ng-if="$ctrl.po.curValue">{{ 'PO' | translate }} {{ $ctrl.po.curValue | po }} <a ng-click="$ctrl.changePo('')" class="no-decoration"><i class="fa fa-times" aria-hidden="true"></i></a></span>
      <span class="label label-default" ng-if="$ctrl.article.curValue">{{ 'Article' | translate }} {{ $ctrl.article.curValue }} <a ng-click="$ctrl.changeArticle('')" class="no-decoration"><i class="fa fa-times" aria-hidden="true"></i></a></span>
    </h4>
  </div>
</div>

<div class="row" ng-show="$ctrl.error !== ''">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">{{ $ctrl.error | translate }}</div>
  </div>
</div>

<div class="row" ng-show="$ctrl.message !== ''">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">{{ $ctrl.message | translate }}</div>
  </div>
</div>


<div class="row" ng-if="!$ctrl.article.curValue && !$ctrl.po.curValue">
  <div class="col-md-12">
    <nav class="navbar navbar-default navbar-inverse">
      <div class="navbar-header">
        <button
        type="button"
        class="navbar-toggle collapsed"
        toggle="collapse"
        target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
        class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <p class="navbar-text"><i class="fa fa-filter fa-lg" aria-hidden="true"></i>
        <b>{{ $ctrl.startQuery.curValue | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</b> {{ 'to' | translate }} <b>{{  $ctrl.endQuery.curValue | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</b>
      </p>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="p in $ctrl.periods" id="{{ p.id }}" ng-class="p.class">
          <a role="button" ng-click="$ctrl.setPeriod(p)">{{ p.name | translate }}</a>
        </li>
        <li id="other"><a role="button" ng-click="$ctrl.otherPeriod()">{{ 'Other' | translate }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-show="$ctrl.events.events.length > 0" role="button" ng-click="$ctrl.exportToCsv()"><i class="fa fa-download fa-lg" aria-hidden="true"></i> {{ 'Export' | translate }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>

<!-- Timeline -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'Timeline' | translate }}</h3>
      </div>
      <div class="panel-body">
        <div id="timeline"></div>
      </div>
    </div>
  </div>
</div>

<!-- Indicators -->
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'Indicators' | translate }}</h3>
      </div>
      <div class="panel-body">
        <canvas id="oeeChart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'Time data' | translate }}</h3>
      </div>
      <div class="panel-body">
        <canvas id="durationsChart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'Productivity' | translate }}</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><span class="badge">{{ $ctrl.events.events | sumFilter:'good' | number:0 }} {{ $ctrl.equipment.part }}</span>{{ 'Good parts' | translate }}</li>
        <li class="list-group-item"><span class="badge">{{ $ctrl.events.events | sumFilter:'bad' | number:0 }} {{ $ctrl.equipment.part }}</span>{{ 'Bad parts' | translate }}</li>
        <li class="list-group-item"><span class="badge">{{ $ctrl.events.events | avgFilter:'rate' | number:0 }} {{ $ctrl.equipment.part }}/h</span>{{ 'Average rate' | translate }}</li>
        <li class="list-group-item"><span class="badge">{{ $ctrl.events.events  | qtyFilter : 'po' }}</span>{{ 'Quantity of PO' | translate }}</li>
        <li class="list-group-item"><span class="badge">{{ $ctrl.events.events  | qtyFilter : 'article' }}</span>{{ 'Quantity of articles' | translate }}</li>
      </ul>
      <table class="table table-condensed" ng-show="$ctrl.events.informations.length > 0">
        <tr><th>{{ 'Type' | translate }}</th><th>{{ 'Occurence' | translate }}</th><th title="Temps moyen"><i class="fa fa-hourglass-half" aria-hidden="false"></i>
          {{ 'average' | translate }}</th><th title="Temps total"><i class="fa fa-hourglass-half" aria-hidden="false"></i>
            {{ 'total' | translate }}</th></tr>
            <tr ng-repeat="i in $ctrl.events.informations">
              <td>{{ i.information || $ctrl.translate.instant('Unspecified') }}</td>
              <td>{{ i.qty }}</td>
              <td>{{ i.avg | duration }}</td>
              <td>{{ i.total | duration }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ 'List of events' | translate }} ({{filtered.length}} / {{ $ctrl.eventsCount }})</h3>
          </div>

          <table class="table table-bordered table-hover table-condensed small table-events">
            <thead>
              <tr>
                <th colspan="4" class="text-right">{{ 'Totals' | translate }}</th>
                <th>{{ filtered | avgFilter:'rate' | number:0 }}</th>
                <th>{{ filtered | sumFilter:'good' | number }}</th>
                <th>{{ filtered | sumFilter:'bad' | number }}</th>
                <td>
                </td>
                <td>
                  <div class="input-group">
                    <input
                    type="text"
                    size="12"
                    class="form-control input-sm"
                    placeholder="{{ 'PO' | translate }}"
                    ng-model="search.po" />
                    <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                    type="text"
                    size="12"
                    class="form-control input-sm"
                    placeholder="{{ 'Article' | translate }}"
                    ng-model="search.article" />
                    <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                    type="text"
                    size="12"
                    class="form-control input-sm"
                    placeholder="{{ 'Information' | translate }}"
                    ng-model="search.information" />
                    <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
                  </div>
                </td>
                <td ng-if="$ctrl.user.profile.admin"><button class="btn btn-success btn-xs" ng-click="$ctrl.addEvent()" title="{{ 'Add' | translate }}"><i class="fa fa-plus" aria-hidden="true"></i></button></td>
              </tr>

              <tr>
                <th>#</th>
                <th>{{ 'Start' | translate }}</th>
                <th>{{ 'End' | translate }}</th>
                <th>{{ 'Duration' | translate }}</th>
                <th>{{ 'Rate' | translate }}</th>
                <th>{{ 'Good' | translate }}</th>
                <th>{{ 'Bad' | translate }}</th>
                <th>{{ 'Type' | translate }}</th>
                <th>{{ 'PO' | translate }}</th>
                <th>{{ 'Article' | translate }}</th>
                <th>{{ 'Information' | translate }}</th>
                <th ng-if="$ctrl.user.profile.admin">{{ 'Action' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-{{ev.color}} {{ ev.secondary ? 'active' : '' }}" ng-repeat="ev in $ctrl.events.events | filter:search as filtered">
                <td class="text-center"><i class="fa {{ ev.icon }}" aria-hidden="true"></i></td>
                <td>{{ ev.start | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</td>
                <td>{{ ev.end | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</td>
                <td>{{ ev.end | amDifference : ev.start : 'seconds' | duration }}</td>
                <td>{{ ev.rate | number }}</td>
                <td>{{ ev.good | number }}</td>
                <td>{{ ev.bad | number }}</td>
                <td>{{ ev.name | translate }}</td>
                <td><a href="#" class="text-{{ ev.color }}" ng-click="$ctrl.changePo(ev.po)" ui-sref-active="active">{{ ev.po | po }}</a></td>
                <td><a href="#" class="text-{{ ev.color }}" ng-click="$ctrl.changeArticle(ev.article)" ui-sref-active="active">{{ ev.article }}</a></td>
                <td><i ng-show="ev.secondary" class="fa fa-star-half-o" aria-hidden="true"></i>{{ ev.information }}</td>
                <td ng-if="$ctrl.user.profile.admin">
                  <div class="btn-group" role="group">
                    <button class="btn btn-info btn-xs" ng-click="$ctrl.editEvent(ev)" title="{{ 'Edit' | translate }}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="$ctrl.removeEvent(ev._id)" title="{{ 'Delete' | translate }}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



    <!-- MODALS -->
    <!-- Modal real time -->
    <div class="modal fade" id="realStateModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ 'Real-time state' | translate }}
              <span class="label label-{{ $ctrl.equipment.state.color }}"><i class="fa {{ $ctrl.equipment.state.icon }}" aria-hidden="true"></i>
                {{ $ctrl.equipment.state.name | translate }}</span>
                <small> {{ $ctrl.equipment.state.information }}</small>
              </h4>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><span class="badge">{{ $ctrl.equipment.state.start | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</span>{{ 'Start' | translate }}</li>
              <li class="list-group-item"><span class="badge">{{ ($ctrl.equipment.state.secondary) ? $ctrl.translate.instant('Yes') : $ctrl.translate.instant('No') }}</span>{{ 'Secondary mode' | translate }}</li>
              <li class="list-group-item"><span class="badge">{{ $ctrl.equipment.state.good | number }} {{ $ctrl.equipment.part }}</span> {{ 'Good' | translate }}</li>
              <li class="list-group-item"><span class="badge">{{ $ctrl.equipment.state.bad | number }} {{ $ctrl.equipment.part }}</span> {{ 'Bad' | translate }}</li>
              <li class="list-group-item"><span class="badge">{{ $ctrl.equipment.state.rate | number }} {{ $ctrl.equipment.part }}/h</span> {{ 'Rate' | translate }}</li>
              <li class="list-group-item"><span class="badge">{{ $ctrl.equipment.state.po | po }}</span>{{ 'PO' | translate }}</li>
              <li class="list-group-item"><span class="badge">{{ $ctrl.equipment.state.article }}</span>{{ 'Article' | translate }}</li>
              <li class="list-group-item"><span class="badge">{{ $ctrl.equipment.state.countdown | countdown }} {{ $ctrl.equipment.part }} {{ 'remaining' | translate }}</span>{{ 'Countdown' | translate }}</li>
              <li class="list-group-item"><span class="badge">{{ $ctrl.equipment.state.lastUpdated | amDateFormat:$ctrl.translate.instant('dateTimeDisplayWithSeconds') }}</span>{{ 'Last update' | translate }}</li>
            </ul>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | translate }}</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal Edit -->
      <div class="modal" id="itemEditModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title text-{{$ctrl.eventToEdit.color || '' }}">
                <i class="fa {{$ctrl.eventToEdit.icon }}" aria-hidden="true"></i>
                {{ $ctrl.eventToEdit.name ?  $ctrl.translate.instant($ctrl.eventToEdit.name) : $ctrl.translate.instant('Add an event') }}
                <small> {{$ctrl.eventToEdit.information }}</small>
              </h3>
            </div>
            <div class="modal-body">
              <div class="row" ng-show="$ctrl.errorEvent !== ''">
                <div class="col-md-12">
                  <div class="alert alert-danger" role="alert">{{ $ctrl.errorEvent | translate }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dropdownStart">{{ 'Start' | translate }}</label>
                    <div class="dropdown">
                      <a class="dropdown-toggle btn btn-default" id="dropdownStart" role="button" data-toggle="dropdown">
                        {{ $ctrl.eventToEdit.start | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }} <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <datetimepicker ng-model="$ctrl.eventToEdit.start" datetimepicker-config="{ dropdownSelector: '#dropdownStart' }" />
                      </ul>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="dropdownEnd">{{ 'End' | translate }}</label>
                    <div class="dropdown">
                      <a class="dropdown-toggle btn btn-default" id="dropdownEnd" role="button" data-toggle="dropdown">
                        {{ $ctrl.eventToEdit.end | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }} <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <datetimepicker ng-model="$ctrl.eventToEdit.end" datetimepicker-config="{ dropdownSelector: '#dropdownEnd' }" />
                      </ul>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="goodParts">{{ 'Good parts' | translate }} ({{ $ctrl.equipment.part }})</label>
                    <input type="number" min="0" class="form-control" id="good" ng-model="$ctrl.eventToEdit.good" ng-value="$ctrl.eventToEdit.good" integer />
                  </div>
                  <div class="form-group">
                    <label for="badParts">{{ 'Bad parts' | translate }} ({{ $ctrl.equipment.part }})</label>
                    <input type="number" min="0" class="form-control" id="bad" ng-model="$ctrl.eventToEdit.bad" ng-value="$ctrl.eventToEdit.bad" integer />
                  </div>
                  <div class="form-group">
                    <label for="rate">{{ 'Rate' | translate }} ({{ $ctrl.equipment.part }}/h)</label>
                    <div class="input-group">
                      <input type="number" min="0" class="form-control" id="rate" ng-model="$ctrl.eventToEdit.rate" ng-value="$ctrl.eventToEdit.rate" integer />
                      <div class="input-group-addon" ng-click="$ctrl.getRate($ctrl.eventToEdit.start, $ctrl.eventToEdit.end, $ctrl.eventToEdit.good, $ctrl.eventToEdit.bad)"><i class="fa fa-calculator" aria-hidden="true"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="badParts">{{ 'PO' | translate }}</label>
                    <input type="number" min="0" max="999999999" class="form-control" id="po" ng-model="$ctrl.eventToEdit.po" ng-value="$ctrl.eventToEdit.po" integer />
                  </div>
                  <div class="form-group">
                    <label for="badParts">{{ 'Article' | translate }}</label>
                    <input type="number" min="0" max="9999999" class="form-control" id="article" ng-model="$ctrl.eventToEdit.article" ng-value="$ctrl.eventToEdit.article" integer />
                  </div>
                  <div class="form-group">
                    <label for="eventType">{{ 'Event type' | translate }}</label>
                    <select class="form-control" id="name" ng-model="$ctrl.eventToEdit.name" ng-options="ev.name as $ctrl.translate.instant(ev.name) for ev in $ctrl.eventsType" required="required"></select>
                  </div>
                  <div class="form-group">
                    <label for="eventType">{{ 'Information' | translate }}</label>
                    <select class="form-control" id="information" ng-model="$ctrl.eventToEdit.information" ng-options="info.name as info.name for info in $ctrl.equipment.informations"></select>
                  </div>
                  <div class="form-group">
                    <label for="oeeId">{{ 'OEE type' | translate }}</label>
                    <select id="oeeId" class="form-control" ng-model="$ctrl.eventToEdit.oeeId" required="required">
                      <option ng-selected="$ctrl.eventToEdit.oeeId === 1" value="1">{{ 'Planned stop' | translate }} (1)</option>
                      <option ng-selected="$ctrl.eventToEdit.oeeId === 2" value="2">{{ 'Unexpected stop' | translate }} (2)</option>
                      <option ng-selected="$ctrl.eventToEdit.oeeId === 4" value="4">{{ 'Non-production period' | translate }} (4)</option>
                      <option ng-selected="$ctrl.eventToEdit.oeeId === 10" value="10">{{ 'Producing' | translate }} (10)</option>
                    </select>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="$ctrl.eventToEdit.secondary"> {{ 'Shared mode' | translate }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate}}</button>
              <button type="button" class="btn btn-primary" ng-click="$ctrl.saveEvent()">{{ 'Save' | translate }}</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal period -->
      <div class="modal fade" id="rangeChoice" tabindex="-1" role="dialog" aria-labelledby="rangeChoiceLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="rangeChoiceLabel">
                {{ 'Period' | translate }} <small>{{ 'from' | translate }} <b>{{ $ctrl.startQuery.curValue | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</b> {{ 'to' | translate }} <b>{{
                  $ctrl.endQuery.curValue | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</b></small>
                </h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <h4>{{ 'Start date' | translate }}</h4>
                    <span class="label label-default">{{ 'Choice' | translate }} : {{ $ctrl.otherPeriodStart | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</span>
                    <datetimepicker ng-model="$ctrl.otherPeriodStart"></datetimepicker>
                  </div>
                  <div class="col-md-6">
                    <h4>{{ 'End date' | translate }}</h4>
                    <span class="label label-default">{{ 'Choice' | translate }} : {{ $ctrl.otherPeriodEnd | amDateFormat:$ctrl.translate.instant('dateTimeDisplay') }}</span>
                    <datetimepicker ng-model="$ctrl.otherPeriodEnd"></datetimepicker>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.validateOtherPeriod()">{{ 'Apply' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
