// This File is for you to modify!
// It won't be overwritten as long as it exists.
// You may include this file into your less files to benefit from
// mixins and variables that bootstrap provides.

@import "custom.bootstrap.mixins.import.less";

@import "bootswatch.import.less";
@import "variables.import.less";

@import "custom.isotope.less";

@import "ng-tags-input.custom.less";
@import "ng-tags-input.min.less";

@import "vis.less";
@import "vis.custom.less";
@import "datetimepicker.less";
@import "jquery-ui.less";



// Navbar
@navbar-brand-height: 36px;

body {
	padding-top: 45px;
}

.navbar-brand {
	padding: (@navbar-height - @navbar-brand-height)/2 !important;
}

.navbar-brand>img {
	height: @navbar-brand-height;
	width: auto;
}

// Table
.table-events td a {
	text-decoration: none !important;
}

.no-decoration {
	text-decoration: none !important;
}

// Text
.text-default {
	color: @text-muted;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.top-buffer {
	margin-top:20px;
}

#list-icons ul {
	margin: 0 auto;
	text-align: center;
	padding: : 0px;
}

#list-icons li {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	background:#eee;
	margin: 2px 2px 2px 2px;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
}

// Forms ======================================================================

.form-control,
input {
  border-width: 2px !important;
  .box-shadow(none) !important;

  &:focus {
    .box-shadow(none) !important;
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-warning !important;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid @brand-warning !important;
  }

  .input-group-addon {
    border-color: @brand-warning !important;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-danger !important;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid @brand-danger !important;
  }

  .input-group-addon {
    border-color: @brand-danger !important;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: @brand-success !important;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid @brand-success !important;
  }

  .input-group-addon {
    border-color: @brand-success !important;
  }
}
