@import "variables.import.less";

@margin: 8px;
@font-little-size: 8px;
@font-middle-size: @font-little-size + 3px;
@font-normal-size: @font-middle-size + 2px;

.element-item {
  position: relative;
  float: left;
  width: 110px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}


.element-item a {
  color: white;
}

.element-item p {
  position: absolute;
  color: white;
  overflow: hidden;
  text-overflow: clip;
  vertical-align: text-bottom;
}

.element-item .name {
  left: @margin;
  top: 3px;
  font-size: @font-normal-size;
  font-weight: bold;
}

.element-item .number {
  right: @margin;
  top: 3px;
  font-size: @font-middle-size;
}

.element-item .po {
  left: @margin;
  top: 20px;
  font-size: @font-middle-size;
}

.element-item .good {
  left: @margin;
  top: 32px;
  font-size: @font-little-size;
}

.element-item .bad {
  right: @margin;
  top: 32px;
  font-size: @font-little-size;
}

.element-item .countdown {
  right: @margin;
  top: 40px;
  font-size: @font-little-size;
}

.element-item .icon {
  position: absolute;
  left: 35px;
  top: 55px;
  font-size: 40px;
  color: white;
}

.element-item .event {
  bottom: 16px;
  font-size: @font-middle-size;
  text-align: center;
}

.element-item .tooltipText {
  bottom: 5px;
  left: @margin;
  font-size: @font-little-size;
  vertical-align: text-bottom;
}


.element-item.success {
  background: @brand-success;
}

.element-item.default {
  background: @gray;
}

.element-item.danger {
  background: @brand-danger;
}

.element-item.info {
  background: @brand-info;
}

.element-item.warning {
  background: @brand-warning;
}

.element-item.primary {
  background: @brand-primary;
}
