@import "variables.import.less";

.vis-item {
	color: white !important;
	font-weight: bold;
}

.vis-item-content {
  text-align: center;
}

.vis-item-content i {
    margin-left: 5px;
}

.vis-item.success {
	background-color: @brand-success;
	border-color: darken(@brand-success, 20%);
}

.vis-item.default {
	background-color: @gray;
	border-color: darken(@gray, 20%);;
}

.vis-item.danger {
	background-color: @brand-danger;
	border-color: darken(@brand-danger, 20%);;
}

.vis-item.info {
	background-color: @brand-info;
	border-color: darken(@brand-info, 20%);;
}

.vis-item.warning {
	background-color: @brand-warning;
	border-color: darken(@brand-warning, 20%);;
}

.vis-item.primary {
	background-color: @brand-primary;
	border-color: darken(@brand-primary, 20%);;
}

/* alternating column backgrounds */
.vis-time-axis .vis-grid.vis-odd {
	background: #f5f5f5;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday, .vis-time-axis .vis-grid.vis-sunday
	{
	background: gray;
}

.vis-time-axis .vis-text.vis-saturday, .vis-time-axis .vis-text.vis-sunday
	{
	color: white;
}
